/* styles/MenuBar.module.css */
.menuBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    overflow: hidden;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }
  
  .menuBar.open {
    width: 250px;
  }
  
  .menuBar.closed {
    width: 0;
  }
  
  .menuButton {
    background-color: #333;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 1001; /* Ensure button is clickable */
  }
  
  .menuButton:hover {
    background-color: #444;
  }
  
  .navMenu {
    display: flex;
    flex-direction: column;
    margin-top: 50px; /* Adjust based on the height of the menu button */
  }
  
  .menuList {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menuItem {
    padding: 15px;
  }
  
  .menuItem a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .menuItem a:hover {
    background-color: #444;
  }
  /* styles/MenuBar.module.css */
.menuItem {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menuItem span {
    font-size: 24px; /* Ajusta el tamaño del ícono según sea necesario */
    margin-right: 10px; /* Espacio entre el ícono y la descripción */
    color: white; /* Ajusta el color del ícono según sea necesario */
  }
  
  .menuItem p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
    color: white; /* Ajusta el color del texto según sea necesario */
  }
  

  /* styles/MenuBar.module.css */
.menuBar {
    position: fixed; /* Asegura que el menú permanezca en su lugar en la pantalla */
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #333;
    color: white;
    transition: transform 0.3s ease;
    z-index: 999; /* Asegura que el menú esté debajo del botón */
  }
  
  .open {
    transform: translateX(0);
  }
  
  .closed {
    transform: translateX(-100%);
  }
  