@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .solcitudgrande-style {
    @apply block bg-[#F9FAFB] w-full  border-2  px-3 py-1 shadow-sm h-8 text-xs  focus:border-primaryBlue focus:ring-2 focus:ring-primaryBlue rounded-md p-2 uppercase;
  }
  .Informacioncliente-style {
    @apply text-lightGrey text-xs mb-2;
  }

  .label-style {
    @apply block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2 ;
  }
  body {
    @apply bg-gray-100;
  }
  .inputCode {
    @apply uppercase text-center font-semibold w-10 h-10 rounded border border-gray-300 shadow-sm focus:outline-none focus:border-morado;
    ;
  }
}
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}